body {
    background-color: rgb(8, 8, 8);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .footer{
    font-family: Tahoma, Arial;
    font-size: 15px;
    position: fixed;
    height: 110px;
    width:110px;
    left:15px;
    bottom:10px;
  }
